body {
  color: blue;
  text-align: center;
  font-family: Arial;
  background-color: rgb(230, 66, 245);
  margin: 0;
  padding: 0;
}
#contenedor {
  width: 70%;
 padding: 0em;
  border: 2px solid white;
text-align: center;
margin: 0 auto;
}

#input1 {
  background-color: cornflowerblue;
}

#cabecera{
background: rgb(19, 16, 241);
box-shadow: 1px 2px 20px 2px rgba(38, 88, 226, 0.884);
color: rgb(252, 252, 252);
margin: 0;
padding: 0.3em;
font-weight: bold;
}
#post{
padding: 0em;
}
.inpu{
margin: 20px;
}